$validColor: #0f0;
$boardBorderColor: #664422;
$boardWhiteCellsColor: white;
$boardBlackCellsColor: #997755;
$boardCellSize: 40px;

.Board {
    border: 20px solid $boardBorderColor;
    //margin: auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    position: relative;
    .BoardRow {
        display: flex;
        flex-direction: row;
        &:nth-child(even) .BoardCell:nth-child(even),
        &:nth-child(odd) .BoardCell:nth-child(odd) {
            background: $boardWhiteCellsColor;
        }
        .BoardCell {
            box-sizing: border-box;
            width: $boardCellSize;
            height: $boardCellSize;
            background: $boardBlackCellsColor;
            float: left;
            &.validMove {
                background: $validColor !important;
                border: 1px solid black;
                opacity: 0.3;
                &:hover {
                    opacity: 0.6;
                }
            }
            &.selectedPiece {
                border: 2px solid red;
                border-radius: 10%;
            }
        }
    }
}
