$validColor: #0f0;
$boardBorderColor: rgb(121, 88, 0);

.Board {
    border: 20px solid $boardBorderColor;
    margin: auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    .BoardRow {
        display: flex;
        flex-direction: row;
        .BoardCell {
            width: 40px;
            height: 40px;
            background: black;
            float: left;
            &.validMove:hover {
                background: $validColor;
                opacity: 0.3;
            }
        }
        &:nth-child(odd) .BoardCell:nth-child(even),
        &:nth-child(even) .BoardCell:nth-child(odd) {
            background: white;
        }
    }
}
