$validColor: #0f0;
$boardBorderColor: rgb(121, 88, 0);
$boardWhiteCellsColor: white;
$boardBlackCellsColor: rgb(88, 50, 0);
$boardCellSize: 40px;

.Board {
    border: 20px solid $boardBorderColor;
    margin: auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    position: relative;
    .BoardRow {
        display: flex;
        flex-direction: row;
        .BoardCell {
            width: $boardCellSize;
            height: $boardCellSize;
            background: $boardBlackCellsColor;
            float: left;
            &.validMove:hover {
                background: $validColor;
                opacity: 0.3;
            }
        }
        &:nth-child(odd) .BoardCell:nth-child(even),
        &:nth-child(even) .BoardCell:nth-child(odd) {
            background: $boardWhiteCellsColor;
        }
    }
}
